


{# Contact Nav #}
<nav class="contact-nav">
    <a href="#" class="contact-nav__item">
        <i class="icon icon--nav-mail contact-nav__icon"></i>
    </a>
    <a href="#" class="contact-nav__item">
        <i class="icon icon--nav-phone contact-nav__icon"></i>
    </a>
    <a href="#" class="contact-nav__item">
        <i class="icon icon--nav-location contact-nav__icon"></i>
    </a>
</nav>
